@model IEnumerable<Books_Management.Models.Book>

@{
    ViewData["Title"] = "filtrerPar2";
}

<h1>Filter Your Reserches</h1>





<div>
    <form action="filtrerPar2" method="post">
        <!--post car on va envoyer des donnees au controller -->
        <label>Genre :</label>
        <select name="genre">
            <!--afficher l'option "All"-->
            <option value="All">All</option>
            <!--afficher le reste des options (c'est la liste de genres qu'on a recuperé au nivea_u du controller -->
            @foreach (var item in ViewBag.GL)
            {
                <option value="@item">@item</option>
            }
        </select>
        <label>Title : </label>
        <input name="title" />
        <input type="submit" value="Find" />



    </form>
</div>

<style>
    .link-container {
        display: flex;
        justify-content: space-between;
    }
</style>
  
<div class="link-container">
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <p>
        <a asp-action="searchBooks">Back To Search Books</a>
    </p>
</div>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdB">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdB">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdB">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
